<div class="fh5co-hero">
  <div class="fh5co-overlay"></div>
  <div class="fh5co-cover text-center" style="background-image: url(/assets/images/background.jpg);">
    <div class="desc animate-box">

    </div>
  </div>
</div>