<div class="fh5co-hero">
  <div class="fh5co-overlay"></div>
  <div class="fh5co-cover text-center" style="background-image: url(/assets/images/background.jpg);">
    <div class="desc animate-box">
      <h2>Únete a TaxiBot</h2>
      <span>Es fácil y rápido</span>
      <div id="fh5co-contact" class="row">
      	<div class="col-md-offset-3 col-md-6 col-sm-6">
        <%= render partial: "form" %>

<!--       		<form action="#">
      				<div class="col-md-6">
      					<div class="form-group">
      						<input type="text" class="form-control" autocomplete="false" spellcheck="false" placeholder="Nombre(s)">
      					</div>
      				</div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control" autocomplete="false" spellcheck="false" placeholder="Apellidos(s)">
                </div>
              </div>
      				<div class="col-md-12">
      					<div class="form-group">
      						<input type="text" class="form-control" autocomplete="false" spellcheck="false" placeholder="Correo Electrónico">
      					</div>
      				</div>
              <div class="col-md-12">
                <div class="form-group">
                  <input type="text" max-length="10" class="form-control" autocomplete="false" spellcheck="false" placeholder="Telefono Celular">
                </div>
              </div>
      				<div class="col-md-12">
      					<div class="form-group">
      						<input type="submit" value="Continuar" class="btn btn-primary">
      					</div>
      				</div>
      		</form> -->
      	</div>
      </div>
    </div>
  </div>
</div>

<div id="fh5co-services">
  <div class="container">
    <div class="row">
          <div class="col-md-4 col-sm-4">
            <div class="services animate-box">
              <span>
                <i class="icon-checkmark2"></i>
              </span>
              <h3>La comisión más baja del mercado</h3>
              <p>Siempre pensamos en tu bolsillo, tenemos la comisión más baja del mercado</p>
              <a href="#">Ver comisiones</a>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="services animate-box">
              <span><i class="icon-user-check"></i></span>
              <h3>Sin autos privados</h3>
              <p>Sabemos lo dificil que es poder ser un profesional del transporte, por eso, no lo dejamos en manos inexpertas y mucho menos a quienes operan ilegalmente.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="services animate-box">
              <span><i class="icon-shield"></i></span>
              <h3>La seguridad primero</h3>
              <p>Sin viajes anónimos, pensando en tú seguridad y la de tus pasajeros, nosotros nos
              encargamos de cuidar quien usa el servicio.</p>
            </div>
          </div>
        </div>
  </div>
</div>