<div class="fh5co-hero">
  <div class="fh5co-overlay"></div>
  <div class="fh5co-cover text-center" style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/a/ad/San_Pedro_Garza_Garcia%2C_Mexico.jpg/1024px-San_Pedro_Garza_Garcia%2C_Mexico.jpg);">
    <div class="desc animate-box">
      <h3>Taxibot está disponible en:</h3>
      <h2>CDMX -  cancún -  monterrey - veracruz - gdl</h2>
      <br>  
      <br>
    </div>
  </div>
</div>
