<div class="fh5co-hero">
  <div class="fh5co-overlay"></div>
  <div class="fh5co-cover text-center" style="background-image: url(/assets/images/background.jpg);">
    <div class="desc animate-box">
      <h2>Únete a TaxiBot</h2>
      <br>
      <a href="#" class="btn btn-primary">¡Registrate!</a>
      <br>
    </div>
  </div>
</div>